.main-header .main-menu .navigation > li:first-child {
  margin-right: var(--margin-zero);
}
.main-header .main-menu .navigation > li:last-child {
  margin-right: var(--margin-right-50);
}
.odometer {
  direction: ltr;
  text-align: left;
}
.about-one_title,
.sec-title_title {
  padding-left: unset;
  padding-right: var(--padding-right-40);
  letter-spacing: normal;
}
.about-one_title::before,
.sec-title_title::before {
  left: unset;
  right: 0;
  top: -2px;
  transform: rotate(270deg);
  transform-origin: center;
}
.steps-one_image-inner {
  padding-left: unset;
  padding-right: var(--padding-right-30);
}

/* Page Title */
.page-title .bread-crumb li:before {
  right: unset;
  left: -6px;
}
.page-title .bread-crumb li {
  margin-right: unset;
  padding-right: unset;
  margin-left: var(--margin-right-15);
  padding-left: var(--padding-right-15);
}

.fa-chevron-left:before {
  content: "\f054";
}
.fa-chevron-right:before {
  content: "\f053";
}

/* Broucher List */
.brochure-list li span {
  margin-right: unset;
  margin-left: var(--margin-right-15);
}
.brochure-list li i {
  right: unset;
  left: 30px;
}
